@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --main-color:#1E3E62;
   --secondary-color:#0B192C;
   --dark-color:#000000;
   --accent-color:#FF6500;
   --font-accent: "Pirata One", system-ui;
   --font-main: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-main);

    background-color: var(--main-color);
}

#start-quiz, #card{
    width: 600px;
    height: 300px;
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start-quiz{
    gap: 2rem;
}

h1{
    color: var(--accent-color);
    font-family: var(--font-accent);
    font-size: 3rem
}

#card{
    display: none;
    color: white;
}

#card button{
    padding: 0.5rem 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    min-width: 150px;
    color: white;
    font-size: 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.quiz-selection{
    display: flex; /* Enable Flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
    width: 80%;
    margin: 0 auto;
    gap: 16px;
}